body {
  margin: 0;
  // background: #F2F2F2;
  background: white;
  font-family: 'Montserrat', sans-serif;
  height: 100px;
}

#container {
  display: grid;
  grid-template-columns: 70px auto;
  height: 100%;

  #content {
    padding: 30px 50px;

    ul {
      list-style-type: none;
      margin:0;padding:0px;

      li {
        // background: #fff;
        background: whitesmoke;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 8px;

        a {
          font-size: 1.5em;
          text-decoration: none;
          font-weight: bold;
          color:darkred;
        }


        ul {
          margin-top: 20px;

          li {
            padding:0;

            a {
              font-size: 1em;
              font-weight: 300;
            }
          }

        }
      }

      li:hover {
        background-color:lighten(whitesmoke,5%);
        cursor: pointer;

      }

      


    }

  }
}



